<div class="grid">
  <div class="footer">
    <div class="footer__header" id="contact">
      <form class="footer__header-contact">
        <span class="primary-color">Contact us</span>
        <div class="footer__header-contact__info">
          <mat-form-field class="example-full-width right-10" appearance="fill">
            <mat-label>Your email</mat-label>
            <input matInput placeholder="abc@gmail.com">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Your phone number</mat-label>
            <input matInput placeholder="+(84)123456789">
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Your message</mat-label>
          <input matInput placeholder="Message...">
        </mat-form-field>
        <button mat-flat-button color="accent" style="color: white;">Send Message</button>
      </form>
      <div class="footer__header-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1772.850833552204!2d106.75946225435732!3d10.877876575470617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d879f3e7c59b%3A0xceca227577c18a07!2zQ2jDuWEgTGluaCBUaMO0bmc!5e1!3m2!1svi!2s!4v1626664668313!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
    <div class="footer__body">
      <div class="text-align">About</div>
      <div class="footer__body-content">
        <ul class="content-text">
          <li><a routerLink="/" >Home</a></li>
          <li><a href="#banner">Banner</a></li>
          <li><a onclick="openMenu()" href="#category">Category</a></li>
          <li><a href="#product">Product</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
        <ul class="content-icon">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
