.width{
      width: fit-content;
      padding: 4px 8px;
      background-color: var(--primary-color);
      border-radius: 4px;
      margin-bottom: 0px;
}
.width a{
      margin-right: 0px;
      color: white;
}
a:hover{
      text-decoration: none;
}