<app-header></app-header>
<div class="cart-body">
  <div class="cart-body__heading">
      <div class="grid">
          <span class="cart-body__heading-text">My Order</span>
      </div>
  </div>
  <div class="grid">
      <div *ngIf="cartList.length==0" class="cart-body__notifi">
          <span class="cart-body__notifi-text">Chưa có sản phẩm nào! <a class="cart-body__notifi-text__link" routerLink="/">Shopping now</a></span>
      </div>
  </div>
  <div class="grid">
      <div class="cart-body__table">
          <div class="cart-body__table-heading">
              <span class="cart-body__table-heading__text table-st-hd">ST</span>
              <span class="cart-body__table-heading__text table-pr-hd">Product</span>
              <span class="cart-body__table-heading__text">Price</span>
              <span class="cart-body__table-heading__text">Quantity</span>
              <span class="cart-body__table-heading__text">Total</span>
              <span class="cart-body__table-heading__text">Option</span>
          </div>
          <div class="cart-body__table-body">
              <div class="cart-body__table-body__list" *ngFor="let item of cartList">
                  <span class="cart-body__table-body__item table-pr-bd">
                      <img *ngIf="item?.imgUrl" class="cart-item-img" src="{{item.imgUrl}}"
                          alt="">
                      <span class="cart-item-name">{{item.name}}</span>
                  </span>
                  <div class="res-mobile">
                      <span class="cart-body__table-body__item mobie-item">{{item.discount | currency:"VND":"symbol"}}</span>
                      <span class="cart-body__table-body__item cart-control-qnt mobie-item">
                          <button (click)="des(item.id, item.quantity)" class="btn-qnt">-</button>
                          <div class="cart-item-qnt"><span style="margin-left: 8px; line-height: 32px;">{{item.quantity}}</span></div>
                          <button (click)="inc(item.id, item.quantity)" class="btn-qnt">+</button>
                      </span>
                      <span class="cart-body__table-body__item mobie-item" style="color: var(--primary-color);">{{item.discount * item.quantity | currency:"VND":"symbol"}}</span>
                      <span (click)="delete(item.id)" class="cart-body__table-body__item btn-delete-item mobie-item">Delete</span>
                  </div>
              </div>  
          </div>
      </div>
  </div>
  <div class="cart-body__bottom"  *ngIf="cartList.length > 0">
      <div class="cart-body__bottom-totalcount">
          <span>Tổng thanh toán ({{totalItem}} sản phẩm)</span>
      </div>
      <div class="cart-body__bottom-text">
          <span>Tổng số tiền:</span>
      </div>
      <div class="cart-body__bottom-totalprice">
          <span>{{totalPrice | currency:"VND":"symbol"}}</span>
      </div>
      <div class="cart-body__bottom-payment">
          <button (click)="payment()" class="btn btn--primary btn--mobile">Thanh tóan</button>
      </div>
  </div>
</div>
<app-footer></app-footer>
