<div class="home__filter">
  <div class="home__filter-select">
      <span class="home__filter-title">Filter by</span>
      <div class="home__filter-sort">
          <span class="home__filter-sort-name">Price</span>
          <i class="icon-sort fas fa-chevron-down"></i>
          <div class="filter-sort">
              <ul class="filter-sort-list">
                  <li class="filter-sort-item">
                      <button (click)="sortProductByPrice('up')" class="item-select">Price: Increase</button>
                  </li>
                  <li class="filter-sort-item">
                      <button (click)="sortProductByPrice('down')" class="item-select">Price: Decrease</button>
                  </li>
              </ul>
          </div> 
      </div>
  </div>
</div>
<div class="home__product">
  <div class="grid__row">
      <!-- product item -->
        <div class="grid__column-2-4" *ngFor="let food of foods | paginate: { itemsPerPage: 10, currentPage: page, totalItems:foods.length }">
            <div class="product-item">
                <a [routerLink]="['/product-details/' + food.name]">
                    <img class="home__product-item__img" *ngIf="food?.imgUrl" src="{{food.imgUrl}}" alt="">
                    <h4 class="home__product-item__name">{{food.name}}</h4>
                    <div class="home__product-item__price">
                        <span class="home__product-item__price-old">{{food.price | currency:"VND":"symbol"}}</span>
                        <span class="home__product-item__price-current">{{food.discount | currency:"VND":"symbol"}}</span>
                    </div>
                    <div class="home__product-item__action">
                        <span class="home__product-item__action-like">
                            <i class="fas fa-heart"></i>
                        </span>
                    </div>
                </a>
            </div>
        </div>
  </div>
</div>
<div class="pagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
